body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

li, a {
    list-style-type: none;
    text-decoration: none;
}

.header ul, li, .nav ul, li {
    margin: 0;
    padding: 0;
}

.header ul {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    background-color: rgb(0, 0, 0);
}

.header a {
    color: white;
}

.about p {
    padding-right: 20px;
    padding-top: 20px;
    color: white;
}

.top {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.nav ul {
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    border-bottom: 1px solid black;
    background-color: white;
}

.nav a {
    color: black;
    font-size: 16px;
    padding: 0px 10px 5px 10px;
}

.nav a:hover {
    border-bottom: 3px solid black;
}


/*batas header*/

.main{
    margin: 20px;
}

#greet {
    font-weight: 1000;
    font-size: 20px;
    margin: 20px
}

.top-stories {
    padding: 10px 20px ;
    border: 1px solid grey;
    border-radius: 20px;
    margin: 10px 0px;
}

.votw {
    padding: 10px 20px ;
    border: 1px solid grey;
    border-radius: 20px;
    margin: 0px;
}

.top-stories h4, a, p {
    margin-bottom: 0px;
    margin-top: 0px;
    color: black;
}

.top-stories h4:hover {
    color: rgb(77, 76, 76);
}


.top-stories a:hover {
    color: black;
}

.top-stories h3,
.votw h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid grey;
    display: none;
}

.top-stories p, .latest-stories p {
    font-size: 13px;
}

.news-tag {
    font-size: 12px;
    padding: 1px 10px;
    background-color: rgb(218, 218, 218);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.781);
    border-bottom: 1px solid black;
}

.sport-tag {
    font-size: 12px;
    padding: 1px 10px;
    background-color: rgba(107, 106, 106, 0.644);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid black;
}

.latest-stories img,
.side-content img,
.main-content img {
    width: 100%;
    border-radius: 10px;
}

.latest-stories h3,
.side-content h3 {
    margin: 0px;
}

.latest-stories h2 {
    margin-bottom: 10px;
    text-align: center;
    display: none;
}

.card {
    padding: 20px;
    border: 1px solid grey;
    border-radius: 20px;
    margin: 0px 0px 20px 0px;
}

.card:hover {
    border: 2px solid black;
}

.content h3 {
    margin: 0;
}

.main-content {
    display: none;
}

.main-content h2 {
    margin: 10px 0px 10px 20px;
}

.button {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.button button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 0px 5px;
    background-color: rgb(233, 233, 233);
}

.footer {
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
}

.footer h2 {
    padding: 20px;
    margin: 0;
}

.form-container {
    margin-bottom: 20px;
}

.form-container input,
.form-container textarea {
    border-radius: 10px;
    width: 80%;
    padding: 10px;
}

.footer button {
    width: 20%;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.footer button:hover {
    background-color: grey;
    color: white;
}

textarea {
    resize: vertical;
}

.social-media h2 {
    margin: 0;
    padding: 0;
}

.social-media ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin-bottom: 0;
}

.social-media li {
    padding: 0 0 20px 0;
    margin: 0px;
}

.social-media a {
    color: white;
    font-size: 18px;
}

.content-wrapper {
    margin: 20px;
}

.content-wrapper img {
    width: 100%;
}

.content-wrapper h2 {
    margin: 0 0 5px 0
}

.writer {
    font-size: 14px;
}

.date {
    font-size: 13px;
    color: grey;
    margin-bottom: 20px;
}

.caption {
    margin-bottom: 20px;
    font-size: 12px;
    color: rgb(165, 165, 165);
}

.paragraph {
    margin-bottom: 40px;
}

.caption-votw {
    font-size: 13px;
    color: grey;
}

.votw-button {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.votw-button button {
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: grey;
    text-decoration: none;
    box-shadow: none;
    font-size: 10px;
    text-align: center;
    border: none;
    padding: 2px 10px;
}

.votw-button button:hover {
    background-color: black;
    color: white;
}

.footer p {
    color: grey;
    padding: 20px;
    font-size: 12px;
}

@media (min-width: 600px) {
    .tidings h1 {
        font-size: 40px;
    }

    .main {
        display: flex;
        flex-direction: row-reverse;
    }

    .main-content {
        width: 70%;
        margin-right: 20px;
        display: block;
    }

    .side-content {
        width: 30%;
    }

    .card img {
        width: 100%;
    }

    .card {
        display: flex;
        flex-direction: row;
    }

    .content {
        margin-left: 20px;
        width: 70%;
    }

    .pict {
        width: 100%;
    }

    .card h3 {
        font-size: 20px;
    }

    .main-content h2  {
        margin-top: 0px;
        text-align: left;
        display: block;
    }

    .top-stories h3{
        display: block;
    }

    .button button {
        display: none;
    }

    .content-wrapper {
        margin: 35px 200px;
    }

    .content-wrapper h2 {
        font-size: 2em;
    }

    .writer {
        font-size: 1.1em;
    }

    .date {
        font-size: 1em;
    }

    .paragraph {
        font-size: 16px;
    }
}